{% extends 'app/base.html' %}
<!DOCTYPE html>
{% block body_block %}
<div class="hero-unit">
    <h1>User account Details</h1>


{% if user.is_authenticated %}
    <p>Welcome, we are happy to have you as our user! Following are your account details:</p>
    <p>Name: {{ user.first_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email ID: {{ user.email }}</p>


     <a href="/">Return to the homepage</a><br />
{% else %}
    <p>Welcome, new user. Please log in!</p>
{% endif %}
<script type="text/javascript">
$(function () {
$(".demo").bootstrapNews({
newsPerPage: 4,
navigation: true,
autoplay: true,
direction:'up', // up or down
animationSpeed: 'normal',
newsTickerInterval: 4000, //4 secs
pauseOnHover: true,
onStop: null,
onPause: null,
onReset: null,
onPrev: null,
onNext: null,
onToDo: null
});
});
</script>

</div>

    <div class="panel panel-default">
<div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>News</b></div>
<div class="panel-body">
<div class="row">
<div class="col-xs-12">
<ul class="demo">
<li class="news-item">
<table cellpadding="4">
<tr>
<td><img src="images/1.png" width="60" class="img-circle" /></td>
<td> News 1<a href="#">Read more...</a></td>
</tr>
</table>
</li>

<li class="news-item">
<table cellpadding="4">
<tr>
<td><img src="images/2.png" width="60" class="img-circle" /></td>
<td> News 2<a href="#">Read more...</a></td>
</tr>
</table>
</li>
</ul>
</div>
</div>
</div>
</div>
{% endblock %}