{% extends 'app/base.html' %}
<!DOCTYPE html>
{% block body_block %}
{% load googlesearch_inclusion_tags %}
<div class="hero-unit">
    <h1>Welcome to Trend!t</h1>
    <br />

                   {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                    <li><a href="/logout/">Logout</a></li>
                    <a href="/details/">Account Details</a><br/>
                       {% googlesearch_form %}
                   {% else %}
                    <li><a href="/register/">Register</a></li>
                    <li><a href="/login/">Login</a></li></br>
                       {% googlesearch_form %}
                   {% endif %}
               </ul>
           </div>
           <!--/.nav-collapse -->

{% endblock %}