{% extends 'app/base.html' %}
<!DOCTYPE html>
{% block body_block %}
{% load googlesearch_inclusion_tags %}

    <h1 align="center">One stop to connect you with #trends!</h1>
    <br />
    <div class="hero-unit">
                   {% if user.is_authenticated %}
                       <div align="center">{% googlesearch_form %}</div>
                       <br>
                       <div class="well"> {% for key in json_list %}
                       <a>&nbsp;{{ key }}&nbsp; </a>
                    {% endfor %}</div>
                   {% else %}

                      <div align="center">{% googlesearch_form %}</div>
                       <br>
                       <div class="well"> {% for key in json_list %}
                       <a>&nbsp;{{ key }}&nbsp; </a>
                    {% endfor %}</div>
                   {% endif %}

               </ul>
           </div>
           <!--/.nav-collapse -->

{% endblock %}